# Database
DATABASE_URL="postgresql://username:password@localhost:5432/nestjs_news_db?schema=public"

# Application
NODE_ENV=development
PORT=3000

# JWT
JWT_SECRET=your-super-secret-jwt-key
JWT_REFRESH_SECRET=your-super-secret-jwt-refresh-key

# Logging
LOG_LEVEL=debug